{# Template for about page #}
{% extends "base.html" %}


{% block main %}

<body>
 
    <!-- Page Header -->
    
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>ABOUT FFFB</h1>
              <span class="subheading">Flat file flast blog</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
                                <h1>Welcome to FFFB</h1>
                    <h2>Flat File Flask Blog is a simple open-source blogging engine that runs off Python 3 and Flask.</h2>
                    <h2>It was developed to be super minimal and customisable.</h2>
                                            <p>Developed by <a href="https://luucverburgh.com/" target="_blank">Luuc Verburgh</a> and <a
                                href="https://ronaldlangeveld.com" target="_blank">Ronald Langeveld</a></p>
          </div>
        </div>
      </div>
    </article>

    <hr>
</body>


{% endblock %}