<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Flat File Flask Blog</title>

        <meta name="description" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="/static/css/simple-grid.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
</head>
<body>

{% block main %} {% endblock %}

</body>
        <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="foot-links">
<p>find us and contribute on <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/burgundy93/FlatFileFlaskBlog" target="_blank">github</a></p>
                        <p>Developed by <a href="https://luucverburgh.com/" target="_blank">Luuc Verburgh</a> and <a
                                href="https://ronaldlangeveld.com" target="_blank">Ronald Langeveld</a></p>

</div>
</div>
</div>
</div>
    </footer>
</html>