{% extends "base.html" %}


{% block main %}

<img class="profile-pic" src="/static/img/profile.jpg">
<body>

    <header id="header">
        <div class="container">
            <div class="row">
                <div style="text-align: left;" class="col-6">

<h1><a href="/">Hi, I'm Ronald. </a></h1>
<p>I'm a 20 something year old <a href="https://goo.gl/maps/oT6kn5JfStB2" target="_blank">South African</a> who lived half a decade in <a href="https://goo.gl/maps/SLMNiXTqmJS2" target="_blank">Asia</a>.
I recently rediscovered my passion for tech & development and am fully committed to ship web products and get better at what I love daily!</p>
<p>I love quality coffee <i class="fa fa-coffee" aria-hidden="true"></i></p>
<p>When I'm not shipping code, I'm probably getting <a href="https://www.instagram.com/p/BdLYGOglSYR/?taken-by=ronaldl93" target="_blank">barrelled</a> somewhere.</p>
<p>I have a small <a href="https://www.youtube.com/channel/UCN3QMklfukKgFJLiIZ1Oawg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> channel</a> with over 100,000 hits</p>
<p>I recently made <a href="https://downtimebot.com" target="_blank">Downtime Bot</a>, <a href="https://www.thatvisa.com" target="_blank">ThatVisa</a> and <a href="https://www.techwork.co.za" target="_blank">Tech Work</a>.</p>
</div>

</div>

</div>
</div>
    </header>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <h3 style="text-align: left;">Latest Posts</h3>
</div>
</div>
        </div>
    </section>

        <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="foot-links">
<p>find me on <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/burgundy93" target="_blank">github</a>, <i class="fa fa-instagram" aria-hidden="true"></i> <a href="https://instagram.com/ronaldl93" target="_blank">instagram</a> and <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/ronaldl93_" target="_blank">twitter</a></p>
        <p>if you can't send me a DM on twitter feel free to email me at <a href="mailto:hi@ronaldlangeveld.com">hi@ronaldlangeveld.com</a></p>
</div>
</div>
</div>
</div>
    </footer>
{% endblock %}