{% extends "base.html" %}


{% block main %}

<body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Flat File Flask Blog</h1>
              <span class="subheading">A simple open-source blogging engine</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts|sort(reverse = true, attribute='date') %}
          <div class="post-preview">
            <a href="/posts/{{ post.slug }}">
              <h2 class="post-title">
                {{ post.title}}
              </h2>
<!--               <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3> -->
            </a>
            <p class="post-meta">Posted by {{ post.author }} on {{ post.date }}</p>
          </div>
          <hr>
          {% endfor %}
          <!-- Pager -->
<!--           <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div> -->
        </div>
      </div>
    </div>



</body>
{% endblock %}