{# Template for blog posts #}
{#this is where you blog post with display (the md file will parse here)#}
{% extends "base.html" %}


{% block main %}

<body>
    <section id="content">
        <div class="container">
            <div class="row">

                <div class="col-12">
                       <p><a href="/">go back home</a></p>

                    <div style="text-align: left;">
    <a href="/posts/{{ post.slug }}"><h2>{{ post.title }}</h2></a>
    Author: {{ post.author}} | Date: {{ post.date }}
                        <br>
    {{ post.content | safe }}

</div>

</div>

</div>
</div>
        </div>
    </section>
</body>


{% endblock %}