{# Template for blog posts #}
{#this is where you blog post with display (the md file will parse here)#}
{% extends "base.html" %}


{% block main %}

<body>
 
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ post.image }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
<!--               <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
              <span class="meta">Posted by {{ post.author }} on {{ post.date }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
{{ post.content | safe }}
          </div>
        </div>
      </div>
    </article>

    <hr>
</body>


{% endblock %}